$('.loader').hide();
$('.flash_messages').removeClass('alt-success alt-error');
$('.flash_messages').addClass('alt-<%= @flash[:status] %>');
$('.flash_messages').html("<%= @flash[:message] %>");
goTop();