<div class="container">
  <div class="sign_up pd20">
    <h2 class="pcenter"> Welcome to the ‘GAIL A HALL’ College Coffee Club </h2><hr>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class: 'form-horizontal pd20 mg10'}) do |f| %>

      <%= devise_error_messages! %>

      <% unless @ref.nil? %>
        <%= f.hidden_field :referral_id, value: @ref.id %>
        <div class="form-group">
          <label class='col-sm-3 control-label' for='user_ref_id'>Referred by</label>
          <div class="col-sm-6">
            <%= f.text_field :ref_id, value: params[:ref_id], autofocus: true, class: "form-control", autocomplete: "off", onblur: 'valid_refid(this)', placeholder: 'Enter Reference Id', disabled: true %>
          </div>
        </div>
      <% else %>
        <%= f.hidden_field :referral_id %>
        <div class="form-group">
          <label class='col-sm-3 control-label' for='user_ref_id'>Referred by</label>
          <div class="col-sm-6">
            <%= f.text_field :ref_id, value: params[:ref_id], autofocus: true, class: "form-control", autocomplete: "off", onblur: 'valid_refid(this)', placeholder: 'Enter Reference Id' %>
          </div>
        </div>
      <% end %>

      <div class="form-group">
        <label class='col-sm-3 control-label' for='user_first_nm'>First Name *</label>
        <div class="col-sm-6">
          <%= f.text_field :first_nm, autofocus: true, class: "txtOnlyAlpha form-control", autocomplete: "off", required: true, pattern: '[a-zA-Z]{3,20}', oninput: 'check_names(this)', placeholder: 'Frist Name' %>
        </div>
      </div>

      <div class="form-group">
        <label class='col-sm-3 control-label' for='user_last_nm'>Last Name *</label>
        <div class="col-sm-6">
          <%= f.text_field :last_nm, class: "txtOnlyAlpha form-control", autocomplete: "off", required: true, pattern: '[a-zA-Z]{3,20}', oninput: 'check_names(this)', placeholder: 'Last Name' %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label "Email * ", class: 'col-sm-3 control-label', for: 'user_email' %>
        <div class="col-sm-6">
          <%= f.email_field :email, autocomplete: "off", class: "form-control", required: true, placeholder: 'Enter Email' %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label "Password * ", class: 'col-sm-3 control-label', for: 'user_password' %>
        <div class="col-sm-6">
          <%= f.password_field :password, autocomplete: "off", class: "form-control", required: true, pattern: '[a-zA-Z0-9]{6,25}', placeholder: 'Password' %>
        </div>
      </div>

      <div class="form-group">
        <label class='col-sm-3 control-label' for='user_password_confirmation'>Password Confirmation *</label>
        <div class="col-sm-6">
          <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control", oninput: 'check_confirmpwd(this)', required: true, pattern: '[a-zA-Z0-9]{6,25}', placeholder: 'Confirm Password' %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label " ", class: 'col-sm-3', for: 'iaccept' %>
        <div class="col-sm-7">
          <label id="iaccept"> <%= f.check_box :iaccept, required: true %>  </label> <a href='#' data-toggle="modal" data-target="#myModal"> I Agree Terms And Conditions. </a>
        </div>
      </div>

      <div class="">
        <%= f.label " ", class: 'col-sm-3' %>
        <div><%= f.submit "Sign up", class: 'col-sm-6 btn btn-primary' %></div>
      </div>

    <% end %>
  </div>
</div>

<div class="modal fade " id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content thmcolor">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h2 class="modal-title">Terms and Conditions</h2>
      </div>
      <div class="modal-body">
        
        <h3>Vision:</h3>
        <span class="fnt18">Help children to establish College fund</span>
        
        <h3>Mission:</h3>
        <span class="fnt18">Provide non Profit Organization, the means to empower their youth with an educational funding that would inspire kids throughout their development because the educational empowerment fund (EEF) Can be started as early as ONE day old, it would give young mother the hope and inspiration needed for the success of both Mother and Child.</span>
        
        <h3>Objectives:</h3>
        <ul class="fnt18">
          <li>Provide non profits with gain donations, helping establish and develop educational funds for youth </li>
          <li>Encourage every youth to continue their education after High School and provide cash incentives for Graduates </li>
          <li>Allow and encourage Higher Studies Juniors to participate in a foreign student exchange program </li>
        </ul>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->