<footer>
	<div class="container">
		<div class="pleft"> <a href='/terms-and-conditions'>Terms & Conditions </a> <a href='/disclaimer'>Disclaimer</a> <a href='/feedback'>Feedback</a> </div>
		<div class="pright">&copy; MULCHCARE 2014</div>
	</div>
</footer>
