<ul id="homeSlider" class="slides">
  <li><img src="/assets/i1.jpg" /></li>
  <li><img src="/assets/i2.jpg" /></li>
  <li><img src="/assets/i3.jpg" /></li>
  <li><img src="/assets/i4.jpg" /></li>
</ul>
<div id="front-content-inner-grid-inner" class="grid_8">
	<SPAN class="pcenter">
		<h1 class="p1"> GAIL HALL </h1>
		<h2 class="p2"> College Coffee Club </h2>
		<%= '<div><a href="/pledge-now" class="btn l3 cnt">Pledge Now</a></div>'.html_safe unless user_signed_in? %>
	</SPAN>
</div>