app_key: <%= ENV["MULCH_DROPBOX_APP_KEY_BASE"] %>
app_secret: <%= ENV["MULCH_DROPBOX_APP_SECRET_BASE"] %>
access_token: <%= ENV["MULCH_DROPBOX_ACCESS_TOKEN"] %>
access_token_secret: <%= ENV["MULCH_DROPBOX_ACCESS_TOKEN_SECRET"] %>
user_id: <%= ENV["MULCH_DROPBOX_USER_ID"] %>
access_type: "app_folder"