<div class="container white-font">
	<div class="mg10 thmcolor pd30">
		<h2 class="pcenter">Terms and Conditions</h2>
			<span class="fnt16">
				<br>

				<p align="justify">This agreement and disclosure (“Agreement”) governs the terms and conditions of the use of the Gail A. Hall College Coffee Club, an educational support service provided by United Sponsors Of America (herein after also referred to as “USA Educational Support Services”, “we” , “us”, or “our”) for Project Many Useful Lives Cultivated Here (herein after also referred to as “MULCH” “Gail A. Hall College Coffee Club” “College Coffee Club” or “The Club”).</p><br>

				<b>Agreement between user and United Sponsors of America</b><br>
				The Club web site is offered to you conditioned upon your acceptance without modification of the terms, conditions, and notices.<br><br>

				<b>Modification of these terms and conditions of use</b><br>				
				The Club reserve the right to change the terms, conditions, and notices under which this web site is offered. You are responsible for regularly reviewing these terms and conditions. <br><br>

				<b>Links to third party sites</b><br>
				The College Coffee Club may contain links to other web sites ( “Linked sites” ). This site is not responsible for the contents of any linked sites. This site may provide these links to you as a convenience and the inclusion of any link does not imply endorsement by this site. Your visits to a linked site are at you risk.

			</span>
	</div>
</div>