$theme-color: #72bb53;
$header-color: #86BC5F;
$light-color: #C3E6AA;
$mg10: 10px;
$text-color: #58666E;

@mixin css-label {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

/* Include fonts */
@font-face {
  font-family: 'Hallo_sans';
  src: url('/assets/Hallo sans.otf');
}

@font-face {
  font-family: 'Hallo_sans_black';
  src: url('/assets/Hallo sans black.otf');
}

@font-face {
  font-family: 'FreightSans_Bold';
  src: url('/assets/FreightSans Bold.ttf');
}

@media (min-width: 1200px){
	.container {
		width: 1040px;
	}
	.under-construct{
		padding-left: 200px;
		line-height: 2.5;
		font-weight: bold;
	}
}

@media (min-width: 832px), (min-width: 1000px){
	.under-construct{
		padding-left: 170px;
		line-height: 1.2;
		font-weight: bold;
		margin: 40px;
	}
}
html, body { height: 100%; font-family: 'Open Sans', sans-serif; color: $text-color; }
h1, h2, h3, h4, h5, h6, h7 { font-family: 'FreightSans_Bold'; }
.toph1{height: 60px;}
.navbar{
	border-radius: 0px;
	min-height: 10px;
    margin-bottom: 0px;
}
.navM>li>a{padding: 5px 20px 5px 20px;}
.pleft{float: left;}
.pcenter{text-align: center;}
.pright{float: right;}
.logo>img{
	margin: $mg10;
}
.thmcolor{background-color: $theme-color;}
.hdrcolor{background-color: $header-color;}
.lgtcolor{background-color: $light-color;}
.navM > li > a{color: #fff;font-weight: bold;}
.navM > li > a:hover, .navM > li > a:focus{background-color: #24911C !important;}
.navT > li > a:hover, .navT > li > a:focus{background-color: #ededed !important; color: $theme-color;}

/*Full width slider */
.demo-code{background-color:#ffffff; border:1px solid #333333; display:block; padding:10px;}
.option-table td{border-bottom:1px solid #eeeeee;}
footer{
	font-family: "Trebuchet MS","Segoe UI",Candara,"Bitstream Vera Sans","DejaVu Sans",Verdana,sans-serif;
	font-size: 12px;
	bottom: 0;
	height: 150px;
	padding-top: 20px;
	clear: both;
	width: 100%;
	height: 70px;
	background: #c9c9c9;
	border-top: 3px solid $theme-color;
}
footer a{
	border-right: 1px solid #666666;
	padding: 0 20px 0 20px;
	text-decoration: none;
	color: #8a8b8d;
}
footer a:hover{
	text-decoration: none;
	color: $theme-color;
}
.p1{
	font-size: 42px;
	color: #333333;
	text-align: center;
	font-family: 'Hallo_sans_black', bold;
	color: #fff;
	letter-spacing: -2px;
	line-height: 52px;
}
.p2{
	font-size: 35px;
	line-height: 30px;
	color: #333333;
	text-align: center;
	font-family: 'Hallo_sans';
	font-weight: 300;
	letter-spacing: 0;
	color: #fff;
	margin-top: 5px;
}
.amtraised{
height: 22px;
width: 554px;
margin: 19px auto 30px;
padding-top: 3px;
text-align: center;
background: url(/assets/homebanner.png) no-repeat;
font-size: 16px;
color: #fff;
font-weight: bold;
}
.suf{
width: 307px;
height: 54px;
display: block;
background: url(/assets/suf.png) no-repeat;
}
.cnt{
	margin: 0 auto;
}
#front-content-inner-grid-inner{
	position: absolute;
	top: 30%;
	width: 40%;
	left: 30%;
	background: none repeat scroll 0 0 rgba(0,0,0,0.50);
	padding: 30px;
	color: #fff;
	border-radius: 10px;
}
.sign_up{
	background-color: #FFFBDE;
	margin: 20px;
}
.sign_up hr{
	border-color: #000;
}
.white-font{color: #fff;}

.pd5{padding: 5px;}
.pd10{padding: 10px;}
.pd20{padding: 20px;}
.pd30{padding: 30px;}
.pd40{padding: 40px;}
.pd50{padding: 50px;}
.pd60{padding: 60px;}
.pd70{padding: 70px;}

.mg5{margin: 5px;}
.mg10{margin: $mg10;}
.mg20{margin: 20px;}
.mg30{margin: 30px;}
.mg40{margin: 40px;}
.mg50{margin: 50px;}
.mg60{margin: 60px;}
.mg70{margin: 70px;}

.fnt15{font-size: 15px;}
.fnt16{font-size: 16px;}
.fnt17{font-size: 17px;}
.fnt18{font-size: 18px;}
.fnt19{font-size: 19px;}
.fnt20{font-size: 20px;}
.fnt21{font-size: 21px;}
.fnt22{font-size: 22px;}

.form-control{
	border-color: #000;
	box-shadow: none;
	float: left;
	padding: 7px 6px 7px 8px;
	border: 1px solid #ccc;
	font-size: 16px;
	margin-bottom: 14px;
	-moz-border-radius: 7px 7px 7px 7px;
	border-bottom-left-radius: 7px 7px;
	border-bottom-right-radius: 7px 7px;
	border-top-left-radius: 7px 7px;
	border-top-right-radius: 7px 7px;
	-moz-box-shadow: inset 1px 1px 3px #ccc;
	-webkit-box-shadow: inset 1px 1px 3px #ccc;
	box-shadow: inset 1px 1px 3px #ccc;
}
.form-control:focus{
	border-color: #ccc;
	box-shadow: none;
}
.required-flds{position: absolute;top:10px;right: 10px;}
.dualgear{
	position: absolute;
	top: 100px;
}
.gearOuter{
	position: absolute;
	background-image: url(/assets/gear02.png);
	background-repeat: no-repeat;
	background-position: center center;
	width: 256px;
	height: 256px;
	display: block;
	top: 10px;
	left: 10px;
	-webkit-animation:spin 8s linear infinite;
    -moz-animation:spin 8s linear infinite;
    animation:spin 8s linear infinite;
}
.gearInner{
	position: absolute;
	background-image: url(/assets/gear01.png);
	background-repeat: no-repeat;
	background-position: center center;
	width: 256px;
	height: 256px;
	display: block;
	top: 10px;
	left: 10px;
	-webkit-animation: swing 10s linear infinite;
    -moz-animation: swing 10s linear infinite;
    animation: swing 10s linear infinite;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

@-webkit-keyframes swing {
    0%   { -webkit-transform: rotate(180deg);}
    100%   { -webkit-transform: rotate(0);}
}
@-moz-keyframes swing {
    0%   { -moz-transform: rotate(180deg); }
    100%   { -moz-transform: rotate(0); }
}

.tab-content{color: #000;}

#pledge-now ol.scroll-nav > li{
	list-style: none;
	border-radius: 100px;
	width: 100px;
	height: 100px;
	background-color: $theme-color;
	color: #fff;
	font-weight: bold;
	font-size: 12px;
	margin: $mg10 10px 10px -40px;
	text-align: center;
	padding-top: 39px;
	cursor: pointer;
	background-position: center center;
	background-size: 100%;
}

#pledge-now ol.scroll-nav > li.others{
	margin: 50px 10px 10px -40px;
}
#pledge-now ol.scroll-nav > li.gs{
	-webkit-filter: grayscale(100%);
}

#pledge-now ol.scroll-nav > li.c1:hover{
	background-image: url(/assets/c1.jpg);
}
#pledge-now ol.scroll-nav > li.c2:hover{
	background-image: url(/assets/c2.jpg);
}
#pledge-now ol.scroll-nav > li.c3:hover{
	background-image: url(/assets/c3.jpg);
}

.hidden{display: none;}
.vcenter{text-align: center;
vertical-align: center;}
.contribution_cups{margin-top: 10px;}
.search{
	background-image: url(/assets/search.png);
	background-position: left;
	padding: 10px 10px 10px 75px;
	height: 50px;
	background-repeat: no-repeat;
	border-radius: 7px 7px;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;	
}
a.l1{margin: 5px; color: #666; text-decoration: none;}
a.l1:hover{color: $theme-color;}
.navT>li.active>a{color: #fff;}
.navT>li>a, .navT>li>a:hover, .navT>li.active>a:focus{font-weight: bold; color: $theme-color; border-radius: 0px; padding: 5px; margin: 2px;}
.navT>li.active>a, .navT>li>a:hover, .navT>li>a:focus{background-color: #3448db;}
.navT>li>a:hover, .navT>li>a:focus{color: $theme-color;}
a.l3, a.l3:hover{background-color: #3448db; padding: 10px 80px 10px 80px; font-size: 20px; font-weight: bold; color: white;}

.bx1{
	background: #F6F5F2 url(/assets/stripe.png) no-repeat 215px 255px;
	box-shadow: 1px 1px 3px #CECECE;
}
.thumbnail-caption{background: rgba(114,187,83,.8);}
.nav-tabs > li > a{color: $theme-color;}
.nav-tabs > li > a:hover{color: #fff;}

label.dd-option-text, label.dd-selected-text{line-height: 30px;}
label.info{height: 58px;background: #72BB53;border: 0px;color: #fff;box-shadow: none;}
.alt-success, .success{color: green;}
.alt-error, .error{color: red;}
.wd100{width: 100%;}
pre{background-color: $theme-color;border: none;color: #fff;}
.tooltip-inner{background-color: $theme-color;}
.tooltip.top .tooltip-arrow{border-top-color: $theme-color;}

.c1 > .hd1 { background: $header-color; color: $text-color; cursor: pointer;border-radius: 3px 3px 0px 0px; z-index: 1; padding: 5px; font-family: 'FreightSans_Bold'; }
.c1 > .hd1 > i { margin: $mg10; }
.c1 { background: $light-color; padding: 0px; border-radius: 5px; margin-bottom: 10px; height: 100%; display: inline-table; }
.c1 > .content { padding: 10px auto 10px 5px;}
.c1 label.control-label { font-size: 13px; text-transform: capitalize; line-height: 30px; color: $text-color; }
.container { min-height: 75%; }
.choose-file { 
	visibility:hidden;
	height:0px; 
}
.browse { line-height: 30px; background-color:#CCCCCC; text-transform: uppercase; color:$text-color;font-weight:bold;padding:10px;cursor:pointer;text-align:center; font-family: 'FreightSans_Bold'; }

/* Styled Radio buttons and checkbox */

input[type=radio].css-radio {
	display:none;
}

input[type=radio].css-radio + label.css-label-radio {
	padding-left:29px;
	height:24px; 
	display:inline-block;
	background-repeat:no-repeat;
	background-position: 0 0;
	vertical-align:middle;
	cursor:pointer;	
	font-size: 14px;
	line-height: 25px;
	color: $text-color;
}

input[type=radio].css-radio:checked + label.css-label-radio {
	background-position: 0 -24px;
}

label.css-label-radio {
	background-image:url(/assets/cssradio.png);
	@include css-label;
}